extends ../layout
block content
  include ../partials/menu
  main.p-5
    .card      
      .card-header.text-white.bg-danger.text-center        
        ul.nav.nav-pills.w-100          
          li
            h3 #{title}
          if view=='index'
            li.nav-pill.ml-auto
              a#urlCreate.nav-link.active(href=urlPage+'/render/create') Crear
      .card-body
        if view=='index'
          - var tableName='tableItemPrice'
          include ../partials/forms/input
          include ../partials/modal_delete
          include datatable
          +modal_delete({url:urlPage+"/delete"})     
          .container
            +input({type:'select',label:'Seleccione',column:'5',data:dataSelect},{name:'selectParameter',required:'','data-placeholder':'Seleccione un Item'})
   
          +datatable()
        else if  view=='create'
          include create
        else if  view=='edit'
          include edit
        else
          include ../partials/page_not_found
  script.
    $("#selectParameter").change(function(){
      var id=$(this).val()     
      config.ajax['data']={id:id}
      var url=$("#urlCreate").attr("href")
      $("#urlCreate").attr("href", `${url}/${id}`);
      initializeTable()
      //alert('Selected value: ' + $(this).val());
    });
