if messages.error
  .alert.alert-warning.-dismissible.fade.show(role="alert") #{messages.error}
    button.close(type="button" data-dismiss="alert" aria-label="Close")
      span(aria-hidden='true') ×
