mixin datatable() 
  script.
    var customColumnDefs=[
      {
        targets:3,
        render:function(data, type, row, meta){
          return `<img src='${data}' height='50px' width='80px'/>`
        },
        className: "text-center",
      },
    ]
  -
    var settingDataTable={
      processing: true,
      ajax: {
        url:urlPage+'/report',
        type: 'POST',
        dataSrc: '',
      }, 
      autoWidth:true
    }
  include ../../partials/datatable/datatable
  +datatableglobal(
    {
      tableName:'table'+nameTable,
      settingDataTable:settingDataTable,
      titleDataTable:titleDataTable,
    },
    fieldAndTitle
  )