extends layout

block content
  h2 Reporte de citas 
  table#pickle.table.table-hover.table-striped.table-bordered
    thead
      tr
        th 
        th Name
        th Type
        th Battery
    tbody
      tr
        th(scope='row') 1
        td BOSS RC-1
        td Loop
        td Yes
      tr
        th(scope='row') 2
        td Line 6 DL4
        td Delay
        td Yes
      tr
        th(scope='row') 3
        td Polara
        td Reverb
        td Yes
  script.
      $(document).ready(function() {
          $('#pickle').DataTable();
      });